.app {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app_container {
    max-width: var(--container-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30rem 1fr 1fr 1fr 30rem;
}

.app_header {
    padding: calc(var(--spacing) * 1) 0;
    border-bottom: 1px solid #ebebeb;


    & .app_container {

        & > * {
            display: flex;
            align-items: center;
            height: 6rem;
        }
    }

}

.app_logo {
    grid-column: 1;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;

    &:hover {
        text-decoration: none;
    }
}

.app_version {
    color: #666;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    padding: 0 calc(var(--spacing) / 1.5);
    background: #eaeaea;
    margin-left: var(--spacing);
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.app_nav {
    font-size: 2rem;
    grid-column: 2 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_link {
    margin: 0 calc(var(--spacing) * 3);
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.app_link_polls {
    order: 1;
}

.app_link_donations {
    order: 2;
}

.app_link_roadmap {
    order: 3;
}

.app_link_feedback {
    order: 4;
}

.app_user {
    grid-column: 5;
    font-size: 1.4rem;
    padding: var(--spacing) calc(var(--spacing) * 2);

    & > * {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.app_content {
    flex: 1;
}

.app_footer {
    border-top: 1px solid #ebebeb;
    padding: var(--spacing) 0;
    margin-top: calc(var(--spacing) * 3);
    font-size: 1.1rem;
    color: #999;

    & .app_container {
        grid-template-columns: 25rem 1fr 1fr 25rem;
    }

    & .app_footer_text {
        grid-column: 2;
    }

    & .app_footer_links {
        grid-column: 3;
        text-align: right;

        & > * {
            margin-left: var(--spacing);
        }
    }

}