.home_page {

    & aside {
        padding: 0 calc(var(--spacing) * 3);
        transform: translateY(-10rem);

        & ol,
        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        & > * {
            margin-bottom: calc(var(--spacing) * 6);
        }
    }

    & .polls {
        grid-column: 1;
        grid-row: 2;
    }

    & .poll_form_wrapper {
        grid-column: 2 / span 3;
        grid-row: 2;
        padding: 0 calc(var(--spacing) * 4);
    }

    & .poll_list_item {
        font-size: 1.2rem;
        display: grid;
        margin-bottom: var(--spacing);

        & .poll_title {
            font-weight: 700;
        }
    }

    & .poll_list_empty,
    & .poll_list_loading,
    & .donor_list_empty,
    & .donor_list_loading,
    & .donation_list_empty,
    & .donation_list_loading {
        min-height: 10rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 700;
        font-style: italic;
        color: #e2e2e2;
    }

    & .donations {
        grid-column: 5;
        grid-row: 2;
        display: flex;
        flex-direction: column;
    }

    & .donation_form {
        order: 2;

        & p {
            font-size: 1.2rem;
            color: #666;
        }

        & .donation_input {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            & input {
                grid-row: 1;
                grid-column: 1 / span 2;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                font-family: var(--font-mono);
            }

            & button {
                grid-row: 1;
                grid-column: 3;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    & .top_donors {
        order: 1;
    }

    & .new_donations {
        order: 3;
        margin-bottom: 0;
    }

}
