.new_donations {

    & .donation_list_item {
        align-items: center;
        overflow: hidden;

        &:before {
            float: left;
            width: 0;
            white-space: nowrap;
            color: #ccc;
            font-size: 1.1rem;
            content: ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";
        }
    }

    & .donation_account {
        order: 1;
        float: left;
        font-size: 1.3rem;
        background: #fff;
        padding-right: 0.3rem;
    }

    & .donation_donated {
        order: 2;
        float: right;
        font-size: 1.4rem;
        font-family: var(--font-mono);
        background: #fff;
        padding-left: 0.3rem;
        color: #666;
    }

}