.poll_page_vote {

    & .poll_option {
        background-color: #eaecf1;
        cursor: pointer;
        transition: 300ms background-color;

        &:hover {
            background-color: #d4d8e2;
        }
    }

    & .poll_options {

        & .poll_writein {
            margin-top: var(--spacing);
            height: 5rem;
            display: grid;
            grid-template-columns: 1fr 5rem;
        }

        & .poll_writein_input {
            padding: 0 calc(var(--spacing) * 3);
            font-size: 1.6rem;
            grid-column: 1 / span 2;
            grid-row: 1;
            padding-right: 5rem;

            &:focus + button {
                border-left-color: var(--brand-color);
            }
        }

        & .poll_writein_button {
            grid-column: 2;
            grid-row: 1;
            transition: 300ms color;
            padding: 0;
            background-color: transparent;
            color: #ccc;
            border: 0;
            border-left: 0.1rem solid #ccc;
            font-size: 1.5rem;
            outline: 0;
            cursor: pointer;

            &[disabled] {
                color: #a1a5ad;
                cursor: not-allowed;
            }

            &:not([disabled]) {
                color: var(--brand-color);
            }

            & svg {
                fill: currentColor;
                height: 2rem;
                width: 2rem;
            }
        }

    }

    & .poll_voting_form {
        display: contents;
    }

    &.-allow-writein .poll_writein {

    }

    &.-only-one-writein {

        & .poll_writein_input {
            grid-row: 2;
            grid-column: 2 / span 3;
            margin: calc(var(--spacing) * 2) 0;
            font-size: 2rem;
            padding: calc(var(--spacing) * 3);
            width: 100%;
            margin-bottom: calc(var(--spacing) * 2);

            &.-invalid {
                box-shadow: inset 0px 0px 0px 3px #d23636;

                &::placeholder {
                    color: #d23636;
                }
            }
        }

    }

}