.poll_form {
    border-radius: var(--border-radius);
    background-color: #fff;

    & .poll_form_title_input {
        font-size: 2rem;
        padding: calc(var(--spacing) * 3);
        width: 100%;
        margin-bottom: calc(var(--spacing) * 1);

        &.-invalid {
            box-shadow: inset 0px 0px 0px 3px #d23636;

            &::placeholder {
                color: #d23636;
            }
        }
    }

    & .poll_form_options {
        padding-top: var(--spacing);
    }

    & .poll_form_option {
        display: grid;
        grid-template-columns: 1fr 5rem;
        margin-bottom: var(--spacing);

        &:last-of-type input {
            cursor: copy;
        }

        &:first-of-type:last-of-type .poll_form_option_delete {
            display: none;
        }
    }

    & .poll_form_option_input {
        grid-column: 1 / span 2;
        grid-row: 1;
        border-right-width: 0;
        font-size: 1.6rem;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);

        &:hover,
        &:focus {

            & + .poll_form_option_delete {
                color: #d23636;
            }

        }

        &:focus {
            & + .poll_form_option_delete {
                border-left-color: var(--brand-color);
            }
        }
    }

    & .poll_form_option_delete {
        grid-column: 2;
        grid-row: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: 300ms color;
        padding: 0;
        background-color: transparent;
        color: #ccc;
        border: 0;
        border-left: 0.1rem solid #ccc;
        cursor: pointer;
        transition: 300ms border-color;
        will-change: border-color;
        outline: 0;

        &[disabled] {
            color: #a1a5ad;
            cursor: not-allowed;
        }

        &:not([disabled]) {

            &:hover {
                color: #9e1818;
            }
        }

        & svg {
            transition: 300ms fill;
            will-change: fill;
            fill: currentColor;
            height: 2rem;
            width: 2rem;
        }
    }

    & .poll_form_basic {
        display: flex;
        align-items: center;
        padding: var(--spacing) 0;

        & > label {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            user-select: none;
            padding: var(--spacing) 0;
            cursor: pointer;

            &:not(:first-of-type) {
                margin-left: calc(var(--spacing) * 4);
            }

            & input[type=checkbox] {
                display: block;
                position: relative;
                height: calc(var(--spacing) * 2);
                width: calc(var(--spacing) * 2);
                margin-right: var(--spacing);
                appearance: none;

                &:after {
                    display: block;
                    content: '';
                    background: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--border-radius);
                    box-shadow: inset 0px 0px 0px 2px #cfd4de;
                    z-index: 2;
                }

                &:before {
                    content: '';
                    background: var(--brand-color);
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: calc(var(--spacing) * 2 - 6px);
                    height: calc(var(--spacing) * 2 - 6px);
                    z-index: 3;
                    transform: scale(0);
                    transition: 300ms transform;
                }

                &:checked {
                    &:after {
                        box-shadow: inset 0px 0px 0px 2px var(--brand-color);
                    }
                    &:before {
                        transform: scale(1);
                    }
                }

                &[disabled] + * {
                    opacity: 0.5;
                }
            }
        }

    }

    & .poll_form_submit {
        display: flex;
        align-items: center;

        & .btn {
            order: 1;
            opacity: 1;
        }
    }

    & .poll_form_status {
        order: 2;
        text-align: left;
        justify-content: flex-end;
        font-size: 1.6rem;
        margin-left: calc(var(--spacing) * 2);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        transition: 300ms color;
        will-change: color;

        & svg {
            fill: currentColor;
            margin-right: var(--spacing);
            transition: 300ms fill;
            will-change: fill;
        }

        &.-valid {
            color: var(--brand-color);
        }

        &.-invalid {
            color: #d23636;
        }
    }

}