.poll_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4f5f7;
    border-radius: var(--border-radius);

    & p {
        margin: 0;
    }

    & input {
        padding: calc(var(--spacing) * 1.5);
        width: 100%;
    }

    & .field {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);

        &:first-of-type {
            padding-top: calc(var(--spacing) * 3);
        }
    }

    & .label {
        grid-column: 1;
        grid-row: 1;
        font-weight: 700;
        padding-bottom: var(--spacing);
        font-size: 1.2rem;
    }

    & .help {
        grid-column: 2;
        grid-row: 1;
        text-align: right;
        padding-bottom: var(--spacing);
        opacity: 0.6;
        font-size: 1.1rem;
    }

    & .input {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    & .-num_choices {
        grid-column: 1 / span 2;
    }

    & .-title {
        grid-column: 1 / span 2;
    }

    & .-options {
        grid-column: 1 / span 2;
    }

    & .option {
        display: grid;
        grid-template-columns: 1fr 5rem;

        &:not(:last-of-type) {
            margin-bottom: var(--spacing);
        }

        &:last-of-type {
            cursor: copy;
        }

        & input {
            grid-column: 1 / span 2;
            grid-row: 1;
            border-right-width: 0;
        }

        & .-delete {
            grid-column: 2;
            grid-row: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition: 300ms background-color;
            padding: 0;

            &[disabled] {
                background-color: #a1a5ad;
                cursor: not-allowed;
            }

            &:not([disabled]) {
                background-color: #d23636;

                &:hover {
                    background-color: #9e1818;
                }
            }

            & svg {
                fill: #fff;
                height: 12px;
                width: 12px;
            }
        }
    }

    & .-num_choices {
        grid-column: 1 / span 2;

        & .input {
            display: grid;
            grid-template-columns: calc(var(--spacing) + 5rem) 1fr calc(var(--spacing) + 5rem);

            & input[type=range] {
                grid-column: 2;
                grid-row: 1;
                padding: 0;
            }
        }

        & .min_num_choices_input {
            padding-right: var(--spacing);

            & input {
                text-align: center;
            }
        }

        & .max_num_choices_input {
            padding-left: var(--spacing);

            & input {
                text-align: center;
            }
        }
    }

    & .-whitelist {
        grid-column: 1 / span 2;
    }

    & .-open_time {
        padding-right: calc(var(--spacing) * 2);
    }

    & .-close_time {
        padding-left: calc(var(--spacing) * 2);
    }

    & .submit_area {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2) calc(var(--spacing) * 3);
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);

        & .submit_bg {
            grid-column: 2;
            padding: 0rem;
            padding-top: 0;
        }

        & button {
            height: 5rem;
            margin: 0 auto;
            display: block;
            font-size: 1.6rem;
            width: 100%;
        }
    }

}