.page_title {
    grid-column: 1 / span 5;
}

.button {


    &.-large {

    }

    &.-small {

    }

    &.-primary {

    }

    &.-secondary {

    }

    &.-danger {

    }

}

.box {
    background-color: #f4f5f7;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}