.page_header {
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_title {
    grid-column: 1 / span 5;
    line-height: 4rem;
}

.box {
    background-color: #f4f5f7;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.page {
    will-change: opacity;
    transition: 750ms opacity;
}

.page_loading {
    opacity: 0;
}

.page_loaded {
    opacity: 1;
}