* {
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    color: var(--text-color);
}

a:any-link {
    color: var(--brand-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--brand-color);
    border-width: 0;
    border-radius: var(--border-radius);
    color: #fff;
    cursor: pointer;
    outline: 0;
    font-weight: 700;
    transition: 300ms background-color;

    &:hover {
        background-color: #003296;
    }
}

input:not([type=range]),
textarea {
    border: 0;
    border-radius: var(--border-radius);
    padding: var(--spacing);
    margin: 0;
    display: block;
    font-size: 1.3rem;
    transition: 300ms opacity, 300ms box-shadow;
    box-shadow: var(--box-shadow) #b1bcce;

    &:focus {
        outline: 0;
        border-color: #a1a5ad;
    }

    &[disabled=true] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

h1 {
    text-align: center;
    margin: 0;
    padding: calc(var(--spacing) * 6) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

/* LastPass overrides */
input, textarea {
    background-image: none !important;
}

[id*=__lpform] {
    display: none;
    height: 0;
    width: 0;
}
