:root {
    --brand-color: #0342bf;
    --text-color: #444;
    --background-color: #eee;
    --border-color: #d4d4d4;
    --spacing: 0.8rem;
    --border-radius: 0.3rem;
    --container-width: 120rem;
    --box-shadow: 0px 1px 1px;
    font-size: 62.5%;
}
