.home_page {

    & .page_title {
        text-align: center;
        margin: 0;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    & .poll_list.-popular {
        grid-column: 2 / span 2;
    }

    & .poll_list.-new {
        grid-column: 4;
    }

}
