.home_page {

    & .page__title {
        text-align: center;
        margin: 0;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    & .poll_form {
        margin: 0 auto;
        width: var(--container-width);
    }

}
