.poll_form {
    background-color: #ebebeb;
    border-radius: var(--border-radius);
    padding: var(--spacing);

    & input,
    & textarea {
        border: 1px solid #ccc;
        padding: var(--spacing);
        margin: 0;
        display: block;
        font-size: 1.4rem;

        &:focus {
            outline: 0;
            border-color: var(--brand-color);
        }
    }

}


.poll_form__title { }

.poll_form__title .poll_form__input {
    margin-bottom: 5px;
    padding: 16px;
    width: 100%;
    font-weight: 700;
}

.poll_form__options,
.poll_form__advanced {
    padding: 15px;
    margin-bottom: 5px;
}

.poll_form__option {
    display: flex;
}

.poll_form__option:not(:last-of-type) {
    margin-bottom: 5px;
}

.poll_form__option input {
    flex: 1;
    margin-right: 5px;
}

.poll_form__num_choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll_form__times {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poll_form__whitelist input,
.poll_form__blacklist input {
    width: 100%;
}

.poll_form__open_time,
.poll_form__close_time {
    width: 200px;
}

.poll_form__open_time input,
.poll_form__close_time input {
    width: 100%;
    padding-right: 0;
}

.poll_form__submit {
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 120%;
    font-weight: 700;
    background-color: blue;
    border: 0;
    color: #fff;
}