.app {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app_container {
    max-width: var(--container-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 29rem 1fr 1fr 1fr 29rem;
}

.app_header {
    border-bottom: 1px solid #ebebeb;

    & .app_container {

        & > * {
            display: flex;
            align-items: center;
            height: 7rem;
        }
    }

    & .app_logo {
        grid-column: 1;
        font-size: 2.5rem;
        font-weight: 700;
        justify-content: flex-start;
        font-family: var(--font-head);
        padding: calc(var(--spacing) * 1) 0;
        margin: 0 calc(var(--spacing) * 3);

        &:hover {
            text-decoration: none;
        }
    }

}

.app_version {
    border: 0.1rem solid currentColor;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    padding: 0 calc(var(--spacing) / 1.5);
    margin-left: var(--spacing);
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.app_nav {
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
    padding: 0 calc(var(--spacing) * 4);
}

.chain_dropdown {
    grid-column: 4;
    position: relative;
    font-size: 1.6rem;
    margin-right: calc(var(--spacing) * 4);
    color: var(--brand-color);

    & .selected_chain {
        border: 1px solid #ccc;
        border-radius: var(--border-radius);
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        padding: 0 calc(var(--spacing) * 2);
        cursor: pointer;
        position: relative;
        z-index: 1;
        justify-content: space-between;
    }

    & .available_chains {
        position: absolute;
        top: 1rem;
        left: 0;
        padding-top: 5rem;
        overflow: hidden;
        width: 100%;
        z-index: 0;
        height: 0;

        &:hover {
            height: auto;
            z-index: 5;

            & + .selected_chain {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                & svg {
                    opacity: 0;
                }
            }
        }
    }

    &:active .available_chains {
        height: auto;
        z-index: 5;
    }

    & .available_chain {
        background: #fff;
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 calc(var(--spacing) * 2);
        cursor: pointer;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: #ccc;

        &:last-of-type {
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        &.-selected {
            font-weight: bold;
        }
    }

}

.app_link {
    font-size: 1.75rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: normal;
    margin-right: calc(var(--spacing) * 4);

    & svg {
        margin-right: var(--spacing);
        fill: currentColor;
        height: 2.4rem;
        width: 2.4rem;
    }
}

.app_link_polls {
    order: 1;
}

.app_link_donations {
    order: 2;
}

.app_link_roadmap {
    order: 3;
}

.app_link_feedback {
    order: 4;
}

.app_user {
    grid-column: 5;
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    padding: 0 calc(var(--spacing) * 2);

    & > * {
        width: 100%;
        height: 100%;
        display: block;
    }

    & .app_login {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: 300ms background-color;

        & svg {
            fill: currentColor;
            height: 2rem;
            width: 6rem;
            margin-left: 0.6rem;
        }

        &.-install {
            background-color: green;
        }
    }
}

.app_user_actions {
    display: flex;
    height: 5rem;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    overflow: hidden;
    border: 1px solid #ccc;

    & > * {
        padding: 0 calc(var(--spacing) * 2);
        height: 100%;
        display: flex;
        align-items: center;
    }

    & svg {
        fill: currentColor;
        transition: 300ms fill;
        height: 2.4rem;
    }

    & button {
        border-radius: 0;
    }

    & .app_user_account {
        order: 1;
        flex: 1;
        display: flex;
        align-items: center;

        & svg {
            transform: translateX(-4px);
        }
    }

    & .app_user_logout {
        order: 3;
        border: 0;
        border-left: 2px solid #ccc;
        cursor: pointer;
        outline: 0;
    }

}

.app_content {
    flex: 1;
}

.app_footer {
    border-top: 1px solid #ebebeb;
    padding: var(--spacing) 0;
    margin-top: calc(var(--spacing) * 3);
    font-size: 1.3rem;
    color: #999;

    & .app_container {
        grid-template-columns: 29rem 1fr 1fr 29rem;
        align-items: center;
    }

    & svg {
        height: 2.4rem;
        fill: currentColor;
        padding-right: var(--spacing);
    }

    & .app_footer_text {
        grid-column: 2;
        padding: 0 calc(var(--spacing) * 4);
    }

    & .app_footer_links {
        grid-column: 3;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        padding: 0 calc(var(--spacing) * 4);

        & > * {
            margin-left: calc(var(--spacing) * 3);
            align-items: center;
            display: flex;
        }
    }

}