.profile_page {

    & .poll_list {
        grid-column: 2 / span 3;
        text-align: center;
    }

    & .poll_title {
        font-size: 2rem;
        padding-bottom: var(--spacing);
    }

    & .poll_details {
        font-size: 1.4rem;
        padding-bottom: var(--spacing);
        text-align: center;
        display: flex;
        justify-content: center;
    }

    & .poll_votes {
        margin-left: calc(var(--spacing) * 2);
    }

    & .poll_list {
        margin: 0;
        padding: 0;
    }

    & .poll_list .poll {
        margin-bottom: calc(var(--spacing) * 4);
    }

}